@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

/* Top Header */
#mainHeader {
  background-color: #295197;
  padding: 0 1em;
}

#mainHeader img {
  height: 50px;
}

#mainHeader #hamburger {
  cursor: pointer;
}

#mainHeader > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* Main Content */
#container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  /* height: 100%; */
}

#leftMenu {
  width: 20%;
  background-color: #295197;
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 2em;
  display: none;
}

#leftMenu > ul {
  list-style-type: none;
  padding: 1em 1em 0;
}

#leftMenu > ul li a {
  line-height: 1.9;
  text-decoration: none;
  color: #fff;
  font-size: 1.25em;
  margin-bottom: 1em;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

#leftMenu > ul li a:hover {
  color: #cabbd8;
}

#home {
  background-image: url('images/canoe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  margin-bottom: 1em;
}

h1 {
  padding: 5em 0;
  margin: auto;
  text-align: center;
  color: #c9c9cf;
}

hr {
  color: lightgray;
}

/* Sections */

section {
  padding-top: 1em;
}

section h3 {
  color: #54a154;
  text-decoration: underline;
  margin-bottom: 0.5em;
}

section .summary {
  font-size: 1.25em;
  padding-top: 0.5em;
}

/* Footer styling*/
footer {
  text-align: center;
  padding-top: 1.25em;
  background: #295197;
  color: #fff;
  clear: both;
  height: 200px;
  position: relative;
  bottom: -200px;
}

footer > small > a {
  text-decoration: none;
  color: #fff;
  font-style: italic;
}

/* Form styling */
#formContainer {
    width: 75%;
    margin: 0 auto;
    background-color: #999;
    padding: 1%;
}

h2 {
  text-align: center;
  color: #295197;
  margin: 1em 0 1em 0;
}

form, 
.thankYou{
  width: 75%;
  background-color: #fff;
  margin: 2em auto;
  padding: 2%;
  border-radius: 5px;
}

fieldset {
  padding: 4px;
}

legend {
  text-align: center;
  font-weight: 600;
}

.form-control {
  display: flex;
  flex-direction: column;
}

input, select  {
  padding: 5px;
}

.buttons {
  background-color: #295197;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin: 1em 1em;
}

/* Thank you page and admin confirm page styling */
.thanksResponse,.adminConfirmText {
  text-align: justify;
  margin: 2em 0 2em 0;
  padding: 8px;
}

.adminConfirmLink {
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 790px) {
  #leftMenu {
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
